@use "variables" as *;

.content {
  position: absolute;
  z-index: 2;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 1200px;
  height: 100%;
  margin: 0 auto;

  gap: 140px;
  inset: 0;
  // padding-top: 131px;

  &__top {
    margin-top: -4px;
    margin-bottom: 4px;

    text-align: center;

    font-family: "Roboto Slab", serif;
  }

  &__top-title {
    margin-bottom: 32px;

    letter-spacing: 0.1em;

    font-size: 5rem;
    font-weight: 300;

    b {
      margin-left: 20px;

      font-weight: 900;
    }
  }

  &__top-subtitle {
    position: relative;

    letter-spacing: 0.1em;

    font-size: 3rem;
    font-weight: 100;
    line-height: 1.25em;

    &:before {
      position: absolute;
      bottom: -48px;
      left: 50%;

      width: 233px;
      height: 3px;

      content: "";
      transform: translateX(-50%);

      background-color: $color-light;
    }

    &--padding-10p {
      padding: 0 10%;

      &:before {
        background-color: $color-primary;
      }
    }

    &--padding-7p {
      padding: 0 7%;
    }

    &--bold {
      margin-left: 300px;

      font-weight: 700;

      &::before {
        display: none;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;

    padding-right: 30px;
    padding-left: 20px;

    gap: 70px;
  }

  &__bottom-image {
    width: 200px;
  }

  &__bottom-text {
    margin-top: -10px;

    letter-spacing: normal;

    font-size: 2rem;
    line-height: 1.5em;
  }
}
