@use "variables" as *;

.fe {
  background-image: url(../img/fe-logo.png);
  background-repeat: no-repeat;
  background-position: -10% -10%;
  background-size: 75%;

  position: relative;
  color: $color-primary;

  .content {
    padding-top: 209px;
    gap: 185px;

    &__top {
      text-shadow: 5px 5px 10px #ffffff, 0 0 30px #ffffff;
    }

    &__top-title {
      span {
        font-weight: 300;
        font-size: 4rem;
        text-transform: uppercase;
      }
    }

    &__bottom {
      justify-content: center;
    }

    &__bottom-text {
      width: 65%;
      margin-left: 137px;
    }
  }
}
