@use "variables" as *;

.html {
  background-image: url(../img/html5.jpg);
  background-position: 0 50%;
  background-size: cover;

  position: relative;
  color: $color-light;

  b {
    font-weight: 900;
    margin-left: 20px;
  }
}
